*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
   background-color: black;
   color: white;
   display: flex;
    justify-content: space-between;
}

.nav button{
    background-color: burlywood;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


.columns-collection{
  display: flex;
  justify-content: space-between;
}


.column{
   background-color: black;
   width: 30%;
   min-height: 400px;
   border-radius: 10px;
}

.column p{
    font-size: larger;
    padding: 10px;
    background-color: tomato;
    color: white;
    text-align: center;
}


.task-card{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.task-parent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: bisque;
    margin-bottom: 5px;
}